body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.weather-app {
  background: rgba(255, 255, 255, 0.007);
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 20px;
  z-index: 1;
  position: relative;
}

header {
  padding: 0 0 20px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 10px 15px;
}

.search-form-button {
  background: #1103d6;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

a {
  color: #1103d6;
  text-decoration: none; /* Optional: Removes underline from links */
}

a:hover {
  color: #0a063b; /* Optional: Changes color on hover */
}

main {
  padding: 20px 0;
}

.weather-app-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-app-city {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
}

.weather-app-details {
  font-size: 14px;
  color: rgba(3, 3, 3, 0.973);
  line-height: 20px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #1103d6;
}

.weather-app-temperature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-app-icon {
  width: 64px;
  height: 64px;
}

.weather-app-temperature {
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 24px;
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 2, 0.952);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.weather-forecast-icon {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #0a063b;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 8px;
}

footer {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .weather-app {
    padding: 15px;
  }

  .search-form-input {
    width: 65%;
    padding: 10px;
    font-size: 14px;
  }

  .search-form-button {
    padding: 10px;
    font-size: 14px;
  }

  .weather-app-city {
    font-size: 28px;
    line-height: 36px;
  }

  .weather-app-details {
    font-size: 12px;
    line-height: 18px;
  }

  .weather-app-temperature {
    font-size: 48px;
    line-height: 48px;
  }

  .weather-app-unit {
    font-size: 20px;
  }

  .weather-forecast-date {
    font-size: 12px;
  }

  .weather-forecast-icon {
    width: 48px;
    height: 48px;
  }

  .weather-forecast-temperatures {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .search-form-input {
    width: 60%;
  }

  .search-form-button {
    padding: 8px;
  }

  .weather-app-city {
    font-size: 24px;
  }

  .weather-app-temperature {
    font-size: 36px;
  }

  .weather-app-unit {
    font-size: 18px;
  }
}
